
<div class="card"  style="width: 20rem; margin-top: 10rem; margin-left: auto; margin-right: auto;">
  <div class="card-body">
    <h4 class="card-title" style="text-align: center; font-size: 300%;">Log in</h4>
    
        <%= form_for(:session, url: 'cadet-login') do |f| %>
    
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
    
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
          </br>
          <div style="text-align: center;">
            <%= f.submit "Log in", class: "btn btn-primary" %>
            </br> </br>
            <p>New Cadet? <%= link_to "Sign up now!", '/cadets/new' %></p>
          </div>
          
          
          
          
        <% end %>
    
    
  </div>
</div>


