<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand"  style="font-size: 200%;" href="#">EnviosYa</a>
  <%= current_admin != nil ? current_admin.name : '' %>
</nav>
</br>


<div class="card" style="margin-left: 3%; margin-right: 3%;">
  <div class="card-body">
    <h4 class="card-title" style="text-align: center; font-size: 300%;">Cadetes pendientes</h4>
    
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Email</th>
          <th scope="col">Password</th>
          <th scope="col">Document</th>
          <th scope="col">Available</th>
          <th scope="col", colspan="3">Accept or Reject</th>
        </tr>
      </thead>
      <tbody>
        
        <% @cadets.each do |cadet| %>
          <tr>
            <th scope="row"><%= cadet.first_name %></th>
            <td><%= cadet.last_name %></td>
            <td><%= cadet.email %></td>
            <td><%= cadet.password %></td>
            <td><%= cadet.document %></td>
            <td><%= cadet.available %></td>
            <td><a  role="button"href="/admins/accept_cadet?cadet_id=<%= cadet.id.to_s %>"  class="btn btn-success">Accept</a></td>
            <td><a  role="button"href="/admins/reject_cadet?cadet_id=<%= cadet.id.to_s %>"  class="btn btn-danger">Reject</a></td>
            
          </tr>
        
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>