<p id="notice"><%= notice %></p>

<h1><%= current_admin != nil ? current_admin.name : '' %></h1>
<h2>Cadetes pendientes</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Document</th>
      <th>Status</th>
      <th>Available</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cadets.each do |cadet| %>
      <tr>
        <td><%= cadet.first_name %></td>
        <td><%= cadet.last_name %></td>
        <td><%= cadet.email %></td>
        <td><%= cadet.password %></td>
        <td><%= cadet.document %></td>
        <td><%= cadet.available %></td>
        <td><%= cadet.position %></td>
        <td><%= link_to 'Accept',  '/admins/accept_cadet?cadet_id='+cadet.id.to_s %></td>
        <td><%= link_to 'Reject',  '/admins/reject_cadet?cadet_id='+cadet.id.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
