<%= form_with(model: cadet, local: true) do |form| %>
  <% if cadet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cadet.errors.count, "error") %> prohibited this cadet from being saved:</h2>

      <ul>
      <% cadet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :cadet_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :cadet_last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :cadet_email %>
  </div>
  
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :cadet_password %>
  </div>

  <div class="field">
    <%= form.label :document %>
    <%= form.text_field :document, id: :cadet_document %>
  </div>

  <div class="field">
    <%= form.label :available %>
    <%= form.check_box :available, id: :cadet_available %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position, id: :cadet_position %>
  </div>
  
  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar,id: :user_avatar %>
  </div>
  
  <div class="field">
    <%= form.label :license %>
    <%= form.file_field :license,id: :cadet_license %>
  </div>
  
  <div class="field">
    <%= form.label :vehicle_documentation %>
    <%= form.file_field :vehicle_documentation,id: :cadet_vehicle_documentation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
