<p id="notice"><%= notice %></p>

<h1>Cadet</h1>


<h3> Envios pendientes: </h3>
<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @pendingShipments.each do |shipment| %>
      <tr>
        <td>De <%= shipment.sender.email %> A <%= shipment.receiver_email %> </td>
        <td><%= link_to 'Details', '/shipments/'+shipment.id.to_s%></td>
      </tr>
      
    <% end %>
  </tbody>
</table>

<h3> Envios Realizados: </h3>
<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @sentShipments.each do |shipment| %>
      <tr>
        <td>De <%= shipment.sender.email %> A <%= shipment.receiver_email %> </td>
        <td><%= link_to 'Details', shipment %></td>
      </tr>
      
    <% end %>
  </tbody>
</table>
