<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand"  style="font-size: 200%;" href="#">EnviosYa</a>  
  <% if current_cadet %>
    <a id="sign_out" href="/cadet-logout"><strong><%= current_cadet.first_name %></strong>  Sign out</a>
  <% end %>
</nav>

</br>
<div class="card" style="margin-left: 3%; margin-right: 3%;">
  <div class="card-body">
    <h4 class="card-title" style="text-align: center; font-size: 300%;">Cadet</h4>
      <p><strong>Envios pendientes:</strong> </p>
    
    <table class="table table-hover table-dark">
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
        <% @pendingShipments.each do |shipment| %>
          <tr>
            <th scope="row">De <%= shipment.sender.email %> A <%= shipment.receiver_email %></th>
            <td><a  role="button" href="shipments/<%= shipment.id %>"  class="btn btn-danger">Details</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p> <strong>Envios Realizados:</strong> </p>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
        <% @sentShipments.each do |shipment| %>
          <tr>
            <th scope="row">De <%= shipment.sender.email %> A <%= shipment.receiver_email %></th>
            <td><a  role="button" href="shipments/<%= shipment.id %>"  class="btn btn-danger">Details</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<p id="notice"><%= notice %></p>

