   <%= form_for(:shipment, url: '/shipments/confirm') do |form| %>
    <h1>Confirm Reception</h1>
    <div class="field">
      <%= form.label :confirm_reception %>
      <%= form.file_field :confirm_reception,id: :cadet_confirm_reception %>
    </div>
    <%= hidden_field_tag "id", shipment.id %>
    
    <%= form.submit "Confirm", class: "btn btn-primary" %>
  <% end %>