
<%= form_with(model: shipment, local: true) do |form| %>
  <% if shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <%= javascript_include_tag 'shipments/shipment.js', 'data-turbolinks-track' => true %>
  <h1>Create Shipment</h1>
  <h4>Choose origin and destiny</h4>
  <div id='map'></div>

    
  <%= hidden_field_tag "origin_lat" %>
  <%= hidden_field_tag "origin_lng" %>
  <%= hidden_field_tag "destiny_lat" %>
  <%= hidden_field_tag "destiny_lng" %>
  <%= hidden_field_tag "sender_id", current_user.id %>
  <%= hidden_field_tag "receiver_id" %>
  <%= hidden_field_tag "price" %>
  <%= hidden_field_tag "final_price" %>
  

  <div class="col-md-12">
    <p id="price_zone_label">Zone Price: </p> 
  </div>
  <div class="col-md-12">
    <p id="price_per_kilo" style="float: left;">Price per kilo: </p> 
    <div class="loader" style="float: left;"></div>
  </div>
  <div class="col-md-4 input_container">
    <div class="row">
      <%= form.label :receiver_email %>
      <%= form.text_field :receiver_email, id: :shipment_receiver_email %>  
    </div>
    <div class="row">
      <label for="weight">Package weight</label>
      <input type="text" id="weight" >
    </div>
  </div>


  
  <div id="suggesstion-box"></div>

  </div>

  <div class="col-md-4 input_container">
    <div class="row">
      <%= form.label :sender_pays %>  
      <%= form.check_box :sender_pays, id: :shipment_sender_pays  %>    
    </div>
    <div class="row">
      <%= form.label :receiver_pays %>
      <%= form.check_box :receiver_pays, id: :shipment_receiver_pays %>  
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <%= form.label :payment_method %>
    </div>
    <div class="row input_container">
      <%= form.label :payment_method, "Online", :value => 1  %>
      <%= form.radio_button :payment_method, 1, :checked =>true %>
      <%= form.label :payment_method, "Cash", :value => 2  %>
      <%= form.radio_button :payment_method, 2 %>  
    </div>
  </div>

  <div id="error_message" class="alert alert-warning"></div>
  <div class="actions col-md-8">
    <button type="button" class="btn btn-primary" id="submit_button">Create</button>
  </div>
  <div class="actions col-md-4">
    <button type="button" class="btn btn-warning" id="remove_markers">Remove markers</button>
  </div>
  <div class="col-md-12">
    <button type="button" class="btn" id="request_cost">Request cost</button>
  </div>
<% end %>
