<%= form_with(model: shipment, local: true) do |form| %>
  <% if shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
  <%= hidden_field_tag "origin_lat", :value => "hola" %>
  <%= hidden_field_tag "origin_lng" %>
  <%= hidden_field_tag "destiny_lat" %>
  <%= hidden_field_tag "destiny_lng" %>
  <%= hidden_field_tag "sender_id", current_user.id %>
  <%= hidden_field_tag "receiver_id" %>
  <%= hidden_field_tag "price" %>
  
  <div class="field">
    <%= form.label :receiver_email %>
    <%= form.text_field :receiver_email, id: :shipment_receiver_email %>
  </div>

  <div class="field">
    <%= form.label :sender_pays %>
    <%= form.check_box :sender_pays, id: :shipment_sender_pays %>
  </div>

  <div class="field">
    <%= form.label :receiver_pays %>
    <%= form.check_box :receiver_pays, id: :shipment_receiver_pays %>
  </div>

  <div class="field">
    <%= form.label :payment_method %>
    <%= form.text_field :payment_method, id: :shipment_payment_method %>
  </div>

  <div class="field">
    <%= form.label :payment_method %>
    <%= radio_button("shipment", "payment_method", "1") %>
    <%= radio_button("shipment", "payment_method", "2") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
