<p id="notice"><%= notice %></p>

<p>
  
  <% if @shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% @shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <strong>Origin lat:</strong>
  <%= @shipment.origin_lat %>
</p>

<p>
  <strong>Origin lng:</strong>
  <%= @shipment.origin_lng %>
</p>

<p>
  <strong>Destiny lat:</strong>
  <%= @shipment.destiny_lat %>
</p>

<p>
  <strong>Destiny lng:</strong>
  <%= @shipment.destiny_lng %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @shipment.sender_id %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @shipment.receiver_id %>
</p>

<p>
  <strong>Receiver email:</strong>
  <%= @shipment.receiver_email %>
</p>

<p>
  <strong>Price:</strong>
  <%= @shipment.price %>
</p>

<p>
  <strong>Final price:</strong>
  <%= @shipment.final_price %>
</p>

<p>
  <strong>Cadet:</strong>
  <%= @shipment.cadet_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @shipment.status %>
</p>

<p>
  <strong>Sender pays:</strong>
  <%= @shipment.sender_pays %>
</p>

<p>
  <strong>Receiver pays:</strong>
  <%= @shipment.receiver_pays %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @shipment.delivery_time %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @shipment.payment_method %>
</p>

<p>
  Comprobante de entrega: <br>
  <%= image_tag @shipment.confirm_reception.url(:medium) if @shipment.status == Shipment.SENT %>
</p>

<% if @shipment.status == Shipment.PENDING %>
  <%= render 'form_confirm_reseption', shipment: @shipment %>
<% end %>

<%= link_to 'Back', '/cadets' %>
