<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCF9196u3KCJdvmTenZhNVxiu7IGFsGZPY"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <% if controller_name == "users_controller" && action_name == "create_shipment" %>
    <%= stylesheet_link_tag "shipments/shipment" %>
    <%= javascript_include_tag "shipments/shipment" %>  
  <% end %>
</head>
<body>
  
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>  
<%= yield %>

</body>
</html>
